In [3]:
lst1 = ['Jimi', 5000, True, 3.8, 2019, 300]
print("Print the 3rd Element of lst1: ", lst1[2])   # Relative indexing from the start
print("Print the 3rd Element of lst1: ", lst1[-4])
print("Print the 1st element of 1st1: ", lst1[0])
print("Print the 1st element of 1st1: ", lst1[-6])

Print the 3rd Element of lst1:  True
Print the 3rd Element of lst1:  True
Print the 1st element of 1st1:  Jimi
Print the 1st element of 1st1:  Jimi

In [9]:
# Access cross section of Lists 
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
print(lst1[1:5])    # Print elements 2 to 5
print(lst1[:5])    # Print elements start to 5 - default start 0
print(lst1[1:])   #print elements starts from 1 to end
print(lst1[1:8])
print(lst1[-4:-2])

['Gilchrist', 'Waugh', 'Dravid', 'Pollock']
['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock']
['Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
['Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
['Pollock', 'Tendulkar']

In [15]:
# Access cross section of Lists with stride
lst1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(lst1[1:12:2])  # Print elements 2 to 12 jumping 2 elements at a time
print(lst1[3:15:2])
print(lst1[1:12:3])

[2, 4, 6, 8, 10, 12]
[4, 6, 8, 10, 12, 14]
[2, 5, 8, 11]

In [16]:
# Adding single elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
for x in range(5):
    lst1.append(x)   # Append one element each time to the List
print(lst1)          # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4]

In [17]:
# Adding single elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
for x in range(10):
    lst1.append(x)   # Append one element each time to the List
print(lst1)          # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# Adding multiple elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.extend([11,12,13,14,15,99,100])     # Extend the List by several elements
print(lst1)                    # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 99, 100]

In [19]:
# Adding multiple elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.extend([17,7,89,33])     # Extend the List by several elements
print(lst1)                    # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 7, 89, 33]

In [20]:
# Adding multiple elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.extend([11.4,True,0.89,"heelo"])     # Extend the List by several elements
print(lst1)                    # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11.4, True, 0.89, 'heelo']

In [21]:
# Adding multiple elements in Lists -- another way
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [11,12,13,14]
lst1 += lst2    # Add lst2 to lst1
print(lst1)     # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [23]:
# Adding multiple elements in Lists -- another way
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [11,12,13,14]
lst2 += lst1   # Add lst2 to lst1
print(lst1)     # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Removing an element using the pop method
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.pop()    # Removes the last element in-place
print("After pop: ", lst1)
lst1.pop(3)    # Removes the specified element in-place
print("After pop of 4th element: ", lst1)

After pop:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
After pop of 4th element:  [1, 2, 3, 5, 6, 7, 8, 9]

In [29]:
# Removing an element using the pop method
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.pop()    # Removes the last element in-place
print("After pop: ", lst1)
lst1.pop()
print("again pop:", lst1)
lst1.pop(7)
print(lst1)

After pop:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
again pop: [1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]

In [30]:
# Removing an element using the remove method
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
lst1.remove('Waugh')    # Removes the specified element in-place
print(lst1)

['Gayle', 'Gilchrist', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']

In [31]:
# Removing an element using the remove method
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
lst1.remove('Dhoni')    # Removes the specified element in-place
print(lst1)

['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar']

In [32]:
# Removing an element using the remove method
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
lst1.remove('Waugh','Dhoni')    # Removes the specified element in-place
print(lst1)

TypeError: list.remove() takes exactly one argument (2 given)

In [33]:
# Removing an element using the del keyword
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
del lst1[2:4]    # Removes the elements at the specified index range
print(lst1)

['Gayle', 'Gilchrist', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']

**Tuples**

In [34]:
# Creating Tuples in various ways
tup1 = ()   # Create an empty Tuple
print("Contents of an empty Tuple: ", tup1)
tup1 = (1,2,3,4,5)
print("Contents of a simple Tuple: ", tup1)
tup1 = (1,2,(5,6,7),4,5)
print("Contents of a Nested Tuple: ", tup1)
tup1 = (1,2,(5,6,7),4,[9,8,7])
print("Contents of a Tuple having a Nested List: ", tup1)
tup1 = ('Rohit', 'Karnataka', True, 2000)
print("Contents of a Tuple having mixed Data Types: ", tup1)

Contents of an empty Tuple:  ()
Contents of a simple Tuple:  (1, 2, 3, 4, 5)
Contents of a Nested Tuple:  (1, 2, (5, 6, 7), 4, 5)
Contents of a Tuple having a Nested List:  (1, 2, (5, 6, 7), 4, [9, 8, 7])
Contents of a Tuple having mixed Data Types:  ('Rohit', 'Karnataka', True, 2000)

In [38]:
# Creating Tuple using the tuple function
lst1 = [1,2,3,4,5]# Create a List
print(type(lst1))
tup1 = tuple(lst1)
print(type(tup1))
print("Print Tuple Created from a List", tup1)
dict1 = {'Name': 'Robert', 'Salary': 2000}     # Dictionary are key:value pairs separated by comma
tup2 = tuple(dict1)     # Note that the Tuple is created with the values of the Dictionary Indexes 
print("Print Tuple Created from a Dictionary", tup2)
str1 = "Christiano Ronaldo"
tup3 = tuple(str1)   # Tuple created from a String
print("Print Tuple Created from a String", tup3)

<class 'list'>
<class 'tuple'>
Print Tuple Created from a List (1, 2, 3, 4, 5)
Print Tuple Created from a Dictionary ('Name', 'Salary')
Print Tuple Created from a String ('C', 'h', 'r', 'i', 's', 't', 'i', 'a', 'n', 'o', ' ', 'R', 'o', 'n', 'a', 'l', 'd', 'o')

In [41]:
# Access Tuples with relative positioning
tup1 = ('Jimi', 5000, True, 3.8, 2019, 300)
print("Print the 3rd Element of Tup1: ", tup1[2])   # Relative indexing from the start
print("Print the 3rd Element of Tup1: ", tup1[-4])# Relative indexing from the end
print("Print the 3rd Element of Tup1: ", tup1[4]) 
print("Print the 3rd Element of Tup1: ", tup1[-2])

Print the 3rd Element of Tup1:  True
Print the 3rd Element of Tup1:  True
Print the 3rd Element of Tup1:  2019
Print the 3rd Element of Tup1:  2019